.file-inputs {
  display: flex;
}

.file-input {
  margin-bottom: 20px;
}

.file-input:last-child {
  margin-left: 20px;
}

.file-name {
  margin-bottom: 10px;
}

.offset-controls {
  margin-bottom: 20px;
}

.offset-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.range-input {
  width: 500px;
  margin-left: 10px;
}

.offset-value {
  margin-left: 10px;
}

.overlay-button {
  padding: 10px 20px;
  cursor: pointer;
}

.preview-container {
  margin-top: 20px;
}

.pdf-preview {
  width: 1200px;
  height: 1600px;
  border: 1px solid black;
}